server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/taskmanager
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

jwt:
  secret: VHVDbGF2ZVNlY3JldGFTdXBlclNlZ3VyYURlQWxNZW5vczI1NkJpdHNQYXJhSFMyNTZBbGdvcml0aG0=
  expiration: 900000
